<div class="countainer offset-1">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block my-4 mx-0 px-3" style="background-color:#dcdcdc;"><>さんの会員情報編集</h5>
    </div>
  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">会員ID</label>

  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">氏名</label>
  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">フリガナ</label>
  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">郵便番号</label>
  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">住所</label>
  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">電話番号</label>
  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">メールアドレス</label>
  </div>
  <div class="row mb-3 d-flex ">
    <label class="col-2 mb-0" style="font-size: 14px;">会員ステータス</label>
  </div>
</div>
