<div class="countainer">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-10">
      <h5 class="d-inline-block my-4 mx-4 px-3" style="background-color:#dcdcdc;">会員一覧</h5>
    </div>
  </div>
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-6">
      <table class="table">
      <thead style="font-size:14px; background-color:#dcdcdc;">
        <tr>
          <th class="col-2">会員ID</th>
          <th class="col-3"><u>氏名</u></th>
          <th class="col-4">メールアドレス</th>
          <th class="col-3">ステータス</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    </div>
    <div class="offset-3"></div>
  </div>

</div>
