<div class="container">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-10">
      <h5 class="d-inline-block my-4 mx-4 px-3" style="background-color:#dcdcdc;">ジャンル編集</h5>
    </div>
  </div>
  <div class ="row">
    <div class ="col-6">
      <%= form_with model: @genre, url: genre_update_path do |f| %>
        <%= f.label :ジャンル名, :class => "mr-4 my-4" %>
        <%= f.text_field :name, autocomplete: "name", :class =>"mr-4 ml-4" %>
        <%= f.submit '変更を保存', :class => "btn btn-success btn-lg ml-2" %>
      <% end %>
    </div>
  </div>
</div>

